html{
background-image: url("contactpage.jpg");
background-size: cover;
}
/**#background-image{
  height:100%;
  width:100%;
  position: center;
}**/
h1{
  font-family: ubuntu;
  color:#c6d6b0;
}
